/* banner section media query for small devices */

@media screen and (max-width:576px) {
    /* banner section */
    .banner-container {
        flex-direction: column;
    }
    .banner-description ,.banner-image{
        width: 95%;
    }
    .banner-image img{
        width: 100%;
    }
     nav>ul{
        display: none;
     }
     #hamburger-icon{
        display: block;
     }
     .card350{
        right: 70%;
     }
     /* habit section */
     .habits-images , 
     .members-container{
        grid-template-columns: repeat(1,1fr);
     }
     .habit-image{
        margin-top: 40px;
     }
     .footer-container{
        flex-direction: column;
        align-items: start;
     }
}

/* medium screen responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-container{
        flex-direction: column;
    }
    .banner-description ,.banner-image{
        width: 100%;
    }
    .banner-image img{
        width: 80%;
    }
     nav>ul{
        display: block;
     }
     nav>ul{
        display: flex;
        border: 2px solid gray;
        border-radius: 20px;
        align-items: center;
    }
    #hamburger-icon{
        display: none;
    }

     /* habits section */

    .habits-images , .members-container{
        grid-template-columns: repeat(2,1fr);
    }
    .habit-image{
        margin-top: 40px;
    }

    /* members container */
    .members-container{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-container{
        flex-direction: column;
        align-items:start;
    }
}
